<h2>Tags marked with </h2>

<div class="messages-wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
</div>


<p />
<div class="main-wrapper">

 <% 
  @bookmarks.each do |b|
 %>
 <%= render partial: 'bookmarks/bookmark', locals: { b: b} %>
 <% 
   end
 %>

</div>
