/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
*/

html>body, html>body.body-archive {
  padding-top: 0;
}

body div.archive-main p {
  font-size: 16px;
}
body.body-archive {
  background: #fdf6e3;
}
body.body-archive p {
  margin-top: 2em;
  margin-bottom: 2em;
}
