// Place all the styles related to the Bookmark controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-font-size:   16px;                                                                                                                    
$base-line-height: 24px;                                                                                                                    
                                                                                                                                            
$h1-font-size: 2    * $base-font-size;                                                                                                      
$h2-font-size: 1.5  * $base-font-size;                                                                                                      
$h3-font-size: 1.17 * $base-font-size;                                                                                                      
$h4-font-size: 1    * $base-font-size;                                                                                                      
$h5-font-size: 0.83 * $base-font-size;                                                                                                      
$h6-font-size: 0.75 * $base-font-size;

$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;                                                                 
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;                                                            
$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;                                                                               
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;                                                                               
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;                                                                            
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;                                                                            
$lucinda:         "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;                                             
$neue:            "Helvetica Neue",Helvetica,Arial,sans-serif;   
$header-color: #300A24;
$header-bgcolor: darken(#f4ff6f,40%);
$header-color: adjust_hue($header-bgcolor, -180);
$border-color: adjust_hue($header-color, -10);


$main-color: #efefef;

body {
   $font-family: $helvetica;
   font-size: $base-font-size;
   margin: 0 0 0 0;
   background: $main-color;
   margin-top: 0px;
   margin: 0px 0px 0px 0px;
}

h1, h2, h3, h4 {                                                                                                                            
  font-family: $neue;
}                                                                                                                                           
body, caption, th, td, input, textarea, select, option, legend, fieldset {                                                                  
  font-family: $arial;
}                                                                                                                                           
.bookmark-wrapper {
   padding-bottom: 1em;
   padding-top: 1em;
   border-bottom: 1px #777 dashed;
   .bookmark-title {
      font-size: $h3-font-size;
   }
   .bookmark-tags {
      font-size: $h5-font-size;
      a {
         padding-right: 0.35em;
         color: #CC4900;
      }
   }
   .bookmark-updated {
      background-color: #eee;
      padding: 0.05em 0.4em 0.2em 0.4em;
   }
   .bookmark-details {
      font-size: $h5-font-size;
   }
   .bookmark-desc {
      font-size: $h5-font-size;
   }
   .bookmark-ops {
      a {
         padding-left: 0.7em;
         color: #555;
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
.private {
   /* border-left: 2px red solid; */
   background: #ffdcdc;
   .bookmark-updated {
      background-color: #ffdcdc; /**/
      padding-left: 0px;
   }
}
form.new_bookmark {
   input {
      width: auto;
      .input-text {
         width: 70%;
      }
   }
}

.main-content {
   margin-top: 1em;
   width: 70%;
   background: #eee;
   padding: 1em;
   margin-left: 2em;
   margin-right: 2em;
   header {
      p {
         font-family: $neue;
         font-size: $h1-font-size;
      }
   }
}



.flickr_pagination {
   
   text-align: center;
   padding: 1.3em;
   cursor: default;
   a, span, em {
      padding: 0.2em 0.5em;
   }
   .disabled {
      color: #aaaaaa;
   }
   .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084;
   }
   a {
      border: 1px solid #dddddd;
      color: #0063dc;
      text-decoration: none;
      &:hover, &:focus {
         border-color: #003366;
         background: #0063dc;
         color: white;
      }
   }
   .page_info {
      color: #aaaaaa;
      padding-top: 0.8em;
   }
   .previous_page, .next_page {
    border-width: 2px;
   }
  .previous_page {
     margin-right: 1em;
  }
  .next_page {
     margin-left: 1em;
  }
}

.user-div {
   padding: 1em 0em 1em 0em;
   border-bottom: 1px dotted #555;
}

.navbar {
   li {
      img {
         padding-top: 0.7em;
         /* @include border-radius(3px); */
      }
   }
   .navbar-search {
      border: 1px solid #151515;
      color: white;
      .input-text {
         background-color: #626262;
         border: 1px #151515 solid;
         color: white;
      }
   }
}