<!DOCTYPE html>
<html>
<head>
  <title>Bookies</title>
  <%= render :partial => 'shared/includes' %>
</head>
<body>
<div class="site-header">
  <span id="logo"><a href=/><img src="http://bookmarks.denvertech.org/crows.jpg"></a></span>
  <span id="sitename"><a href=/>Bookmarks</a></span>
  <span id="user-info">
    <% if session[:user_id] %>
    Logged in as <%= session[:username] %>
    <% else %>
    <a href="/login">Log in</a> or <a href="/register">Register an Account</a>
    <% end %>
         
  <br clear=all />
</div>
<div class=navbar>
<span class=bookmarks-nav><%= session[:username] %>'s bookmarks</span>
</div>
<div class="main-content">

<%= yield %>

</div>
</body>
</html>
