<!DOCTYPE html>
<html>
<head>
  <title>Bookies</title>
  <%= render :partial => 'shared/includes' %>
</head>
<body>
<div class="site-header">
  <span id="logo"><a href=/><img src="http://bookmarks.denvertech.org/crows.jpg"></a></span>
  <span id="sitename"><h1><a href=/>Bookmarks</a></h1></span>
  <br clear=all />
</div>
<div class=navbar>
<span class=bookmarks-nav><%= session[:username] %>'s bookmarks</span>
</div>
<div class="main-content">

<%= yield %>

</div>
</body>
</html>
