<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bkmark.me: Social Bookmarking!</title>
  <%= render :partial => 'shared/includes' %>
  <%= yield :head %>
</head>
<body class="body-archive">

<%= render :partial => 'shared/header' %>

<div class="container">
<div class=row>
  <div class="span12"><%= yield %></div>
</div>

</div>
</body>
</html>
